html {
  background-color: wheat;
}



.content_div {
  width: 300px;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 4px;
  font-style: normal;
  text-decoration: none;
  background-color: rgb(223, 233, 240);
  line-height: 17px;


}

.content_div:hover ,.content_div.even:hover{
  background-color: rgb(255, 255, 255);
}

.content_div a {
  text-decoration: none;
  color: black;
  width: 265px;
  display: inline-block;
}

.content_column {
	width: 308px;
	float: left;
	margin-right: 8px;
}

.content_div.even {
    background-color: rgb(207, 221, 240);
}

#content_column_info {
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 308px;
  background-color: rgb(207, 221, 240);
  padding: 3px 0px 3px 0px;
}

.score {
  width: 30px;
  float: right;
  display: inline-block;
}


.comment a {
  border-right: none;
}
