html {
  background-color: rgb(249, 249, 249);
}



.content_div, .reply_div {
  width: 305px;
  min-height: 20px;
  font-family: RobotoDraft, arial, helvetica, sans-serif;
  font-size: 13px;
  padding: 4px;
  font-style: normal;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  line-height: 17px;
  /* border-style: solid; */
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgb(224, 221, 221);
}

.content_div:hover ,.content_div.even:hover{
  background-color: rgb(230, 241, 249);
}

.content_div a, .reply_div a {
  text-decoration: none;
    color: rgb(69, 69, 69);
  width: 265px;
  display: inline-block;


}

.reply_div {
    background: #F2F0D5;
}

.content_column, .thread_column {
	width: 313px;
	float: left;
	margin-right: 8px;
	box-shadow: 0px 1px 2px 1px rgba(137, 136, 136, 0.75);

}



.content_column_info {
  font-family: RobotoDraft ,arial, helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 313px;
  background-color: rgb(110, 146, 194);
  padding: 3px 0px 3px 0px;
  color: rgb(249, 249, 249);

}

.score {
  width: 30px;
  float: right;
  display: inline-block;
}

.score_comments {
 width: 30px;
 display: inline-block;
 padding-left: 5px;
}

.content_subject {
  
}

.subject {
  width: 280px;
  float: left;
  font-weight: bold;
  color: rgb(16, 16, 16);
}

.replies {
  float: right;
  font-weight: bold;
  color: rgb(126, 124, 124);
}
